</br>
</br>
</br>
</br>
</br>
<div><h1 style= "font-size:90px" >e<strong>DOT</strong></h1></div>
<br/>
<!-- Accent-colored raised button with ripple -->
<p class="mdl-typography--text-center">
  <% if not user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path, :class =>'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--teal-400 mdl-color-text--cyan-50'  %>
    <%= link_to "Login", new_user_session_path, :class =>'mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--teal-900'  %>
  <% end %>
  <%if not @reports.nil?%>
      <div id="map" style="width: 100%; height: 300px;"></div>
      <script src="http://maps.google.com/maps/api/js?sensor=false"
              type="text/javascript"></script>
      <script type="text/javascript">
        var locations = [];
        <% @positions.each do |pos|%>
          locations.push(["<%= @patient.name  %>", <%=pos.latitude%>, <%=pos.longitude%>])
        <% end %>
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: new google.maps.LatLng(<%=@positions.first.latitude%>, <%=@positions.first.longitude%>),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

        for (i = 0; i < locations.length; i++) {
          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            map: map
          });


          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              infowindow.setContent(locations[i][0]);
              infowindow.open(map, marker);
            }
          })(marker, i));
        }
      </script>
  <%end%>

</p>
