<%= form_for(position) do |f| %>
  <% if position.errors.any? %>

      <% position.errors.full_messages.each do |message| %>
      <script>
        alertify.error("<%= message.html_safe %>");
      </script>
      <% end %>

  <% end %>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.number_field :patient_id %>
  </div>

  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>

  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
