<div align="center">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :name, :class => "mdl-textfield__input", :id => "name"%>
      <%= f.label :name, :class => "mdl-textfield__label", :for => "name"%>
    </div>
    <br>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :surname, :class => "mdl-textfield__input", :id => "surname"%>
      <%= f.label :surname, :class => "mdl-textfield__label", :for => "surname"%>
    </div>

    <div class="field">
      <%= f.label :birthdate %><br />
      <%= f.date_select :birthdate, autofocus: true, start_year: 1900, order: [:day, :month, :year] %>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.number_field :phone, :class => "mdl-textfield__input", :id => "phone"%>
      <%= f.label :phone, :class => "mdl-textfield__label", :for => "phone"%>
    </div>

    <br>

    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
      <%= f.radio_button :gender, 'male', :class => "mdl-radio__button" , :checked => true %>
      <%= label :male, 'Male' %>
    </label>
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
     <%= f.radio_button :gender, 'female', :class => "mdl-radio__button" %>
     <%= label :female, 'Female' %>
   </label>
      <br />

<br>
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
       <%= f.text_field :health_center_id, :class => "mdl-textfield__input", :value => "", :type => "text", :id => "health_center", :readonly => "", :tabIndex => "-1"%>
         <label class="mdl-textfield__label" for="country">Health Center</label>
         <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="health_center">
           <% @health_centers.each do |health_center| %>
             <li class="mdl-menu__item">
               <%= health_center.id %>
             </li>
           <% end %>
         </ul>
     </div>

     <br>

     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
       <%= f.radio_button :user_type, 'doctor', :class => "mdl-radio__button" , :checked => true %>
       <%= label :doctor, 'Doctor' %>
     </label>
     <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
      <%= f.radio_button :user_type, 'chw', :class => "mdl-radio__button" %>
      <%= label :chw, 'Community health worker' %>
    </label>
       <br />

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, :class => "mdl-textfield__input", :id => "email"%>
      <%= f.label :email, :class => "mdl-textfield__label", :for => "email"%>
    </div>

    <br>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.password_field :password, :class => "mdl-textfield__input", :id => "password", :pattern => ".{"+ @minimum_password_length.to_s + ",}"%>
      <%= f.label :password, :class => "mdl-textfield__label", :for => "password" %>
    </div>
    <br>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.password_field :password_confirmation, :class => "mdl-textfield__input", :id => "password_confirmation", :pattern => ".{"+ @minimum_password_length.to_s + ",}"%>
      <%= f.label :password_confirmation, :class => "mdl-textfield__label", :for => "password_confirmation"%>
    </div>

    <div class="actions">
      <%= f.submit "Sign up",  :class => 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--teal-400 mdl-color-text--cyan-50'  %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
