<%= form_tag("", method: "get") do %>
  <% %w(name_filter surname_filter address_filter).each do |filter| %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag filter, nil, placeholder: 'Enter search term...', :value => @params[filter], :class => "mdl-textfield__input" %>
      <%= label_tag filter, filter.split("_").join(" ").capitalize, :class => "mdl-textfield__label" %>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= number_field_tag "phone_filter", nil, placeholder: 'Enter search term...', :value => @params["phone_filter"], :class => "mdl-textfield__input" %>
    <%= label_tag "phone_filter", "Phone filter", :class => "mdl-textfield__label" %>
  </div>


  <button class = "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50" type = "submit">
    <i class="material-icons">search</i>
  </button>
<% end %>
