<%= form_for(patient) do |f| %>
<% if patient.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
    <ul>
    <% patient.errors.full_messages.each do |message| %>
    <script>
      alertify.error("<%= message.html_safe %>");
    </script>
    <% end %>
    </ul>
  </div>
<% end %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :name, :class => "mdl-textfield__input", :id => "name", :pattern=>"[A-Z,a-z,\s]+", :required => ""%>
    <%= f.label :name, :class => "mdl-textfield__label", :for => "name"%>
    <span class="mdl-textfield__error">Please insert a valid name</span>
  </div>

  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :surname, :class => "mdl-textfield__input", :id => "surname", :pattern=>"[A-Z,a-z,\s]+", :required => ""%>
    <%= f.label :surname, :class => "mdl-textfield__label", :for => "surname"%>
    <span class="mdl-textfield__error">Please insert a valid surname</span>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, autofocus: true, start_year: 1900, order: [:day, :month, :year] %>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.number_field :phone, :class => "mdl-textfield__input", :id => "phone"%>
    <%= f.label :phone, "Phone number", :class => "mdl-textfield__label", :for => "phone"%>
    <span class="mdl-textfield__error">Please insert a valid phone number</span>
  </div>

  <br>

  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
    <%= f.radio_button :gender, 'male', :class => "mdl-radio__button" , :checked => true %>
    <%= label :male, 'Male' %>
  </label>
  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect">
   <%= f.radio_button :gender, 'female', :class => "mdl-radio__button" %>
   <%= label :female, 'Female' %>
 </label>

  <br>

  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :address, :class => "mdl-textfield__input", :id => "address", :required => ""%>
    <%= f.label :address, :class => "mdl-textfield__label", :for => "address"%>
    <span class="mdl-textfield__error">Please insert a valid address</span>
  </div>

  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" >
   <%= f.text_field :health_center_id, :class => "mdl-textfield__input",
       :value => ("#{@user_health_center.id}. #{@user_health_center.name}" if not @user_health_center.nil?),
       :type => "text", :id => "health_center", :tabIndex => "-1", required: "", readonly: "" %>
     <label class="mdl-textfield__label" for="health_center">Health Center<font size="3" color="teal">*</font></label>

     <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="health_center">
       <% @health_centers.each do |health_center| %>
         <li class="mdl-menu__item">
           <%= "#{health_center.id}. #{health_center.name}" %>
         </li>
       <% end %>
     </ul>

  </div>
  <%= link_to new_health_center_path, :class =>"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50", :id => "add_button" do  %>
   <i class="material-icons">add</i>
 <% end %>
  <br>
  <br>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" >
    <% if current_user.user_type=="doctor"%>
   <%= f.text_field :user_id, :class => "mdl-textfield__input",
       :value => "", :type => "text", :readonly => "", :id => "user", :tabIndex => "-1", required: "" %>
  <% else%> <%= f.text_field :user_id, :class => "mdl-textfield__input",
      :value => ("#{current_user.id}. #{current_user.name} #{current_user.surname}"),
      :type => "text", :readonly => "", :id => "user", :tabIndex => "-1", required: "" %>
  <%end %>
     <label class="mdl-textfield__label" for="user">Cared by<font size="3" color="teal">*</font></label>

     <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="user">
       <% @users.each do |user| %>
         <li class="mdl-menu__item">
           <%= "#{user.id}. #{user.name} #{user.surname}" %>
         </li>
       <% end %>
     </ul>
  </div>

  <div class="field">
    <%= f.label :starting_therapy_day %>
    <%= f.date_select :starting_therapy_day, start_year: 1900, order: [:day, :month, :year] %>
  </div>

  <div id="buttons_div" >
    <div id = "form_button">
      <%= button_to patients_path, :class => "mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50", method: :update do %>
        <i class="material-icons">send</i>
      <% end %>
    </div>


    <% if form_type=="Edit" %>

      <div class="backdrop"></div>
      <%= link_to patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' }, :id => "floating-button-link" do %>
        <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--red-500 mdl-color-text--cyan-50" data-subitem="2">
            <i class="material-icons">delete</i>
        </div>
      <%end%>
      <%= link_to patient, :id => "floating-button-link" do %>
        <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--orange-500 mdl-color-text--cyan-50" data-subitem="1">
          <i class="material-icons">person</i>
        </div>
      <%end%>
        <div class="fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" id="masterfab">
          <i class="material-icons">settings</i>
        </div>
    <% end %>
  </div>
<% end %>
