<h1 style= "color:teal; text-align:center;font-family:Roboto; font-size:50px">Patients</h1>
<div style = "overflow-x:auto;">
  <style>

table, td, th {
  width: 2%;
}
  </style>
  <table id = "ciao" class = "sortable mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--cyan-50" align = "center">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">ID</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Name</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Surname</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Address</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Health Center</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Show</th>
        <!--th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Report</th-->
      </tr>
    </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.name %></td>
        <td><%= patient.surname %></td>
        <td><%= patient.address %></td>
        <td><%= patient.health_center.name %></td>
        <td><%= link_to 'Show', patient, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--teal-900"%></td>
        <!--td><%= link_to 'Reports', patient_reports_path(patient), :class => "mdl-button mdl-js-button mdl-js-ripple-effect" %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div>
  <%= link_to new_patient_path, :class => "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
