<ul class="mdl-list">
  <% { "Name" => @patient.name, "Surname" => @patient.surname, "Address" => @patient.address, "Gender" => @patient.gender,
       "Birthdate" => @patient.birthdate, "Phone" => @patient.phone, "Starting therapy day" => @patient.starting_therapy_day,
       "Cared by" => "#{@patient.user.name} #{@patient.user.surname} (#{@patient.user.id})",  "Health Center" => @patient.health_center.name }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>

  <div class="backdrop"></div>
  <%= link_to patient_url(@patient), method: :delete, data: { confirm: 'Are you sure?' } , :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--red-500 mdl-color-text--cyan-50" data-subitem="3">
        <i class="material-icons">delete</i>
    </div>
  <%end%>
  <%= link_to patient_reports_path(@patient), :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--indigo-500 mdl-color-text--cyan-50" data-subitem="2">
      <i class="material-icons">library_books</i>
    </div>
  <%end%>
  <%= link_to edit_patient_path(@patient), :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--orange-500 mdl-color-text--cyan-50" data-subitem="1">
      <i class="material-icons">mode_edit</i>
    </div>
  <%end%>
    <div class="fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" id="masterfab">
      <i class="material-icons">settings</i>
    </div>



<%if not @patient.positions.empty? %>


    <div id="map" style="width: 100%; height: 350px;"></div>
    <script src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
    <script type="text/javascript">
      var locations = [];
      <% @positions.each do |pos|%>
        locations.push(["<%= @patient.name  %>", <%=pos.latitude%>, <%=pos.longitude%>])
      <% end %>
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 9,
        center: new google.maps.LatLng(<%=@positions.last.latitude%>, <%=@positions.last.longitude%>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var infowindow = new google.maps.InfoWindow();
      var red_marker = "<%= asset_path 'red_marker.png'%>";
      var blue_marker = "<%= asset_path 'blue_marker.png'%>";
      var green_marker = "<%= asset_path 'green_marker.png'%>";
      var orange_marker = "<%= asset_path 'orange_marker.png'%>";

      var marker, i;
      for (i = 0; i < locations.length; i++) {
        if (i == locations.length - 1){
            marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
            icon: red_marker,
            animation: google.maps.Animation.BOUNCE,
            map: map
          });
          var infoWindow = new google.maps.InfoWindow();
          infoWindow.setOptions({
              content: "Last position.",
              position: myLatLng,
          });
          infoWindow.open(map, marker);
        } else if (i!=0){

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          icon: blue_marker,
          map: map
        });
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(i.toString());
            infowindow.open(map, marker);
          }
        })(marker, i));
      }



      }
      var infoWindow = new google.maps.InfoWindow();
      var myLatLng = {lat: <%=Geocoder.coordinates(@patient.address)[0]%>, lng: <%=Geocoder.coordinates(@patient.address)[1]%>}
      var PatMarker = new google.maps.Marker({
        position: myLatLng,
        icon: orange_marker,
        map: map
      });


    var infoWindow = new google.maps.InfoWindow();
    infoWindow.setOptions({
        content: "Address.",
        position: myLatLng,
    });
    infoWindow.open(map, PatMarker);

    </script>
<%end%>
