<ul class="mdl-list">
  <% { "Name" => @patient.name, "Surname" => @patient.surname, "Address" => @patient.address, "Gender" => @patient.gender,
       "Birthdate" => @patient.birthdate, "Phone" => @patient.phone, "Starting therapy day" => @patient.starting_therapy_day,
       "Cared by" => "#{@patient.user.name} #{@patient.user.surname} (#{@patient.user.id})",  "Health Center" => @patient.health_center.name }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>
<div id ="buttons_div">
  <%= link_to edit_patient_path(@patient) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">mode_edit</i>
    </button>
  <% end %>

  <%= link_to patient_url(@patient), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--red mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">delete</i>
    </button>
  <% end %>

  <%= link_to patient_reports_path(@patient) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--indigo mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">library_books</i>
    </button>
  <% end %>

</div>
