<div align="center">
</br>
<div>
  <h2>Login</h2>
</div>
</br>
</br>
</br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <i class="material-icons" style="color:teal;">email</i>
      <%= f.email_field :email, :class => "mdl-textfield__input", :id => "email"%>
      <%= f.label :email, :class => "mdl-textfield__label", :for => "email"%>
    </div>
  <br/>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <i class="material-icons" style="color:teal;">lock</i>
    <%= f.password_field :password,  :class => "mdl-textfield__input", :id => "password"%>
    <%= f.label :password, :class => "mdl-textfield__label", :for => "password", autocomplete: "off"%>
  </div>
</br>
  </br>
  </br>

  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" id="remember_me">
    <input name="user[remember_me]" type="hidden" value="0">
    <input id="user_remember_me" name="user[remember_me]"  type="checkbox" value = "1" class="mdl-checkbox__input">
    <span class="mdl-checkbox__label">Remember me</span>
  </label>

  </br>
  </br>

    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50" type = "submit">
      <i class="material-icons">exit_to_app</i>
    </button>
  <% end %>
</br>
</br>
