<p id="notice"><%= notice %></p>

<h1>Community Health Workers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @community_health_workers.each do |community_health_worker| %>
      <tr>
        <td><%= community_health_worker.name %></td>
        <td><%= community_health_worker.surname %></td>
        <td><%= community_health_worker.birthdate %></td>
        <td><%= community_health_worker.gender %></td>
        <td><%= community_health_worker.phone %></td>
        <td><%= link_to 'Show', community_health_worker %></td>
        <td><%= link_to 'Edit', edit_community_health_worker_path(community_health_worker) %></td>
        <td><%= link_to 'Destroy', community_health_worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Community Health Worker', new_community_health_worker_path %>
