<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @community_health_worker.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @community_health_worker.surname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @community_health_worker.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @community_health_worker.gender %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @community_health_worker.phone %>
</p>

<%= link_to 'Edit', edit_community_health_worker_path(@community_health_worker) %> |
<%= link_to 'Back', community_health_workers_path %>
