<h1>Health Centers</h1>
<div style = "overflow-x:auto;">
  <table class = "sortable mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--cyan-50">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Name</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Address</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Phone</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Show</th>
      </tr>
    </thead>

    <tbody>
      <% @health_centers.each do |health_center| %>
        <tr>
          <td><%= health_center.name %></td>
          <td><%= health_center.address %></td>
          <td><%= health_center.phone %></td>
          <td><%= link_to 'Show', health_center, :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--teal-900"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<div>
  <%= link_to new_health_center_path, :class => "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
