<ul class="mdl-list">
  <% { "Name" => @health_center.name, "Address" => @health_center.address, "Phone" => @health_center.phone }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_health_center_path(@health_center) %> |
<%= link_to 'Back', health_centers_path %> |
<%= link_to 'Delete', health_center_url(@health_center), method: :delete, data: { confirm: 'Are you sure?' } %>
