<h1>Reports</h1>
<div style = "overflow-x:auto;">
  <table class = "sortable mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--cyan-50">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Patient ID</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Name</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Surname</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Date</th>
        <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50">Show</th>
      </tr>
    </thead>

    <tbody>
      <% @patient.reports.each do |report| %>
        <tr>
          <td><%= report.patient_id %></td>
          <td><%= report.patient.name %></td>
          <td><%= report.patient.surname %></td>
          <td><%= report.date %></td>
          <td><%= link_to 'Show', patient_report_url(report.patient, report), :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--teal-900" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Download All reports (CSV)', patient_reports_path(format: :csv) %> |
<%= link_to 'New Report', new_patient_report_path %> |
<%= link_to 'Show Patient', patient_path(@patient) %> |
<%= link_to 'Show all patients', patients_path%>
