<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Patient ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.reports.each do |report| %>
      <tr>
        <td><%= report.patient_id %></td>
        <td><%= report.patient.name %></td>
        <td><%= report.patient.surname %></td>
        <td><%= report.date %></td>
        <td><%= link_to 'Show', patient_report_url(report.patient, report) %></td>
        <td><%= link_to 'Edit', edit_patient_report_url(report.patient, report) %></td>
        <td><%= link_to 'Destroy', patient_report_url(report.patient, report), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Download All reports (CSV)', patient_reports_path(format: :csv) %> |
<%= link_to 'New Report', new_patient_report_path %> |
<%= link_to 'Show Patient', patient_path(@patient) %>
