<h1>Reports</h1>
<div style = "overflow-x:auto;">
  <table class = "sortable mdl-data-table mdl-js-data-table mdl-shadow--2dp mdl-color--cyan-50">
    <thead>
      <tr>
        <% [ "Patient ID", "Name", "Surname", "Date"].each do |col_name| %>
          <th class="mdl-data-table__cell--non-numeric mdl-color--teal-400 mdl-color-text--cyan-50"><%= col_name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @patient.reports.each do |report| %>
        <tr>
          <% [report.patient_id, report.patient.name, report.patient.surname, report.date ].each do |field| %>
            <td class="mdl-data-table__cell--non-numeric"><%= link_to field, patient_report_url(report.patient, report) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<!--div>
  <%= link_to new_patient_report_path , :class => "mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" do %>
    <i class="material-icons">add</i>
  <% end %>
</div-->

<%= link_to 'Download All reports (CSV)', patient_reports_path(format: :csv) %> |
<%= link_to 'New Report', new_patient_report_path %> |
<%= link_to 'Show Patient', patient_path(@patient) %> |
<%= link_to 'Show all patients', patients_path%>




<div class="backdrop"></div>

<div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--orange-500 mdl-color-text--cyan-50" data-subitem="4"><i class="material-icons">person</i></div>
<div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--indigo-500 mdl-color-text--cyan-50" data-subitem="3"><i class="material-icons">library_books</i></div>
<div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--green-500 mdl-color-text--cyan-50" data-subitem="2"><i class="material-icons">file_download</i></div>
<div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--pink-500 mdl-color-text--cyan-50" data-subitem="1"><i class="material-icons">add</i></div>
<div class="fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" id="masterfab"><i class="material-icons">mode_edit</i></div>
