<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Community health worker</th>
      <th>Date</th>
      <th>Health status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patient.reports.each do |report| %>
      <tr>
        <td><%= report.patient_id %></td>
        <td><%= report.community_health_worker_id %></td>
        <td><%= report.date %></td>
        <td><%= report.health_status %></td>
        <td><%= link_to 'Show', patient_report_url(report.patient, report) %></td>
        <td><%= link_to 'Edit', edit_patient_report_url(report.patient, report) %></td>
        <td><%= link_to 'Destroy', patient_report_url(report.patient, report), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_patient_report_path %> |
<%= link_to 'Show Patient', patient_path(@patient) %>
