<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @report.patient_id %>
</p>

<p>
  <strong>Community health worker:</strong>
  <%= @report.community_health_worker_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Health status:</strong>
  <%= @report.health_status %>
</p>
<%= link_to 'Download CSV list', patient_report_path(format: :csv) %>

<%= link_to 'Edit', edit_patient_report_url(@report.patient, @report) %> |

<%= link_to 'Back', patient_reports_path(@report.patient) %>
