<ul class="mdl-list">
  <% { "Name" => @report.patient.name, "Surname" => @report.patient.surname,
       "Compiled by" => "#{@report.user_id}. #{@report.user.name} #{@report.user.surname}",
       "Date" => @report.date, "Health status" => @report.health_status }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>

<div id ="buttons_div">
  <%= link_to edit_patient_report_path(@report.patient, @report) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">mode_edit</i>
    </button>
  <% end %>

  <%= link_to patient_url(@patient), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--red mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">delete</i>
    </button>
  <% end %>

  <%= link_to patient_report_path(format: :csv) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--indigo mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">file_download</i>
    </button>
  <% end %>

  <%= link_to patient_path(@report.patient,) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--pink mdl-color-text--cyan-50" id="form_button">
        <i class="material-icons">person</i>
    </button>
  <% end %>

  </div>


<%= link_to 'Back', patient_reports_path(@report.patient) %>
