<ul class="mdl-list">
  <% { "Name" => @report.patient.name, "Surname" => @report.patient.surname,
       "Compiled by" => "#{@report.user_id}. #{@report.user.name} #{@report.user.surname}",
       "Date" => @report.date, "Health status" => @report.health_status, "Patient position" => @report.address }.each do |name, content| %>
    <li class="mdl-list__item mdl-list__item--three-line">
      <span class="mdl-list__item-primary-content">
        <span><%= name %></span>
        <span class="mdl-list__item-text-body">
          <%= content %>
        </span>
      </span>
    </li>
  <% end %>
</ul>






  <div class="backdrop"></div>
  <%= link_to patient_report_path(@report.patient, @report), method: :delete, data: { confirm: 'Are you sure?' }, :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--red-500 mdl-color-text--cyan-50" data-subitem="4">
        <i class="material-icons">delete</i>
    </div>
  <%end%>
  <%= link_to patient_path(@report.patient), :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--orange-500 mdl-color-text--cyan-50" data-subitem="3">
      <i class="material-icons">person</i>
    </div>
  <%end%>
  <%= link_to patient_report_path(format: :csv), :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--indigo-500 mdl-color-text--cyan-50" data-subitem="2">
      <i class="material-icons">file_download</i>
    </div>
  <%end%>
  <%= link_to edit_patient_report_path(@report.patient, @report), :id => "floating-button-link" do %>
    <div class="fab child mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored mdl-color--pink-500 mdl-color-text--cyan-50" data-subitem="1">
      <i class="material-icons">mode_edit</i>
    </div>
  <%end%>
    <div class="fab mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-color--teal-400 mdl-color-text--cyan-50 bottom-right-fixed" id="masterfab">
      <i class="material-icons">settings</i>
    </div>
