<!DOCTYPE html>
<html>
  <head>
    <title>EDOT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false%>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300" type="text/css">
    <meta name="theme-color" content="#00796B">
    <link rel="icon" sizes="192x192" href="../images/icon.png">
  </head>

  <body class="mdl-color--cyan-50">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">e<strong>DOT</strong></span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <% if user_signed_in? %>
          <p class="mdl-layout--large-screen-only">
            Logged in as &nbsp; <strong> <%= current_user.email %> </strong>
          </p>
          <!-- Navigation -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= link_to "Home", root_path, :class => 'mdl-navigation__link'   %>
            <%= link_to "Health centers", health_centers_path, :class =>'mdl-navigation__link'  %>
            <a class="mdl-navigation__link" href="">GitHub</a>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'mdl-navigation__link' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'mdl-navigation__link'   %>
          <% else %>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%= link_to "Home", root_path, :class => 'mdl-navigation__link'   %>|
            <%= link_to "About", new_user_registration_path, :class =>'mdl-navigation__link'  %>|
            <a class="mdl-navigation__link" href="http://git.ict4g.org/masinag/eDOT.git">GitHub</a>|
          <% end %>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">e<strong>DOT</strong></span>
        <nav class="mdl-navigation">
          <% if user_signed_in? %>
            <%= link_to "Home", root_path, :class => 'mdl-navigation__link'   %>
            <%= link_to "Health centers", health_centers_path, :class =>'mdl-navigation__link'  %>
            <%= link_to "About", new_user_registration_path, :class =>'mdl-navigation__link'  %>
            <a class="mdl-navigation__link" href="http://git.ict4g.org/masinag/eDOT.git">GitHub</a>
            <hr>
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'mdl-navigation__link' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'mdl-navigation__link'   %>
                <p class="mdl-navigation__link"> Logged in as &nbsp;
                <strong> <%= current_user.email %> </strong>
              </p>
          <% else %>
            <%= link_to "Home", root_path, :class => 'mdl-navigation__link'   %>
            <%= link_to "About", new_user_registration_path, :class =>'mdl-navigation__link'  %>
            <a class="mdl-navigation__link" href="http://git.ict4g.org/masinag/eDOT.git">GitHub</a>
          <% end %>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <% if notice %>
              <p class="alert alert-success" id="notice">
                <script>
                    var a = "<%= notice %>"
                    alertify.success(a)
                </script>
              </p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger" id="notice">
                <script>
                    var a = "<%= alert %>"
                    alertify.error(a)
                </script>
              </p>
            <% end %>
            <%= yield %>
        </div>

      </main>

  </body>

</html>
